//- #########################################################

	ファイル概要：コピーライトなどのフッタ用ファイル

	#########################################################

//- お問い合わせ
article.companypr-container
	a(href="https://rhythmfactory.jp/" target="_blank" title="株式会社リズムファクトリー").banner-container.-slidebutton.--js-slidebutton
		h3 CONTACT WITH RHYTHMFACTORY
		p リズムファクトリーはホームページの制作会社です。
			br
			| ホームページ制作に関するご要望・ご相談はこちらからどうぞ。
		div.default-button.-link-contact.-is-link
			span.arrow.-openright


//- トップに戻る
a(href="#top").backtotop-button.--js-backtotop-button
	span.arrow.-openup

//- フッタ
footer.site-footer
	article.inner
		ul.horizontal-container
			li
				h1
					a(href="/" title="smart")
						img(src="/common/img/common/logo.svg")
			li
				h2.default-title Programming Language
				ul.link-list
					each item in CATEGORY_P
						li
							a(href=item.url title=item.title_j+" -"+item.sup) #{item.title}
			li
				h2.default-title Server Side
				ul.link-list
					each item in CATEGORY_S
						li
							a(href=item.url title=item.title_j+" -"+item.sup) #{item.title}

	aside.gorhythmfactory-container
		a(href="https://rhythmfactory.jp/" target="_blank" title="株式会社リズムファクトリー")
			img(src="/common/img/common/logo_rhythmfactory.svg")
			span.arrow.-right リズムファクトリーのオフィシャルホームページ

	p.copyright
		small !{copyright}

//- JSファイルの読み込み
script(src=js_path+"/"+jsfile)
